/*
* Dark mode theme
*/
.dark {
  background-color: var(--color-gray-800);
  color: var(--color-gray-200);
  .navbar {
    border-bottom: 1px solid var(--color-gray-700);
    background-color: var(--color-gray-800);
    a {
      color: var(--color-gray-50);
    }
  }
  .prompt {
    background-color: var(--color-gray-800);
    border-top: 1px solid var(--color-gray-700);
  }
  .prompt-field {
    border: 1px solid var(--color-gray-600);
    background-color: var(--color-gray-700);
    color: var(--color-gray-100);
    &:focus {
      border: 1px solid var(--color-gray-500);
    }
  }
  .message {
    strong {
      color: var(--color-yellow-500);
    }
    table {
      margin: 25px 0;
      thead {
        th {
          background-color: var(--color-gray-600);
          border: 1px solid var(--color-gray-600);
        }
      }
      tbody {
        border-bottom: 1px solid var(--color-gray-600);
        border-right: 1px solid var(--color-gray-600);
        td {
          border-left: 1px solid var(--color-gray-600);
        }
        tr:nth-child(even) {
          background-color: var(--color-gray-700);
        }
      }
    }
  }
  .user-message {
    .message {
      background-color: var(--color-gray-700);
      border: 1px solid var(--color-gray-600);
    }
  }
  .message-header {
    background-color: var(--color-gray-700);
    border: 1px solid var(--color-gray-600);
    em {
      color: var(--color-yellow-600);
    }
  }
  .actions {
    button {
      background-color: var(--color-gray-700);
      border: 1px solid var(--color-gray-600);
      color: var(--color-gray-200);
    }
  }
}