.prompt {
  padding-top: 25px;
  pointer-events: auto;
  background-color: var(--bg);
  border-top: 1px solid var(--subtle);
  .container {
    width: 700px;
    // height: 100%;
    .prompt-field {
      border-radius: 3px;
      padding: 7px 15px;
      width: 100%;
      position: relative;
      min-height: 1.5em;
      border: 1px solid var(--subtle);
      &:focus {
        outline: none;
        border: 1px solid var(--muted);
      }
      &:empty::before {
        content: attr(data-placeholder);
        color: var(--muted);
        pointer-events: none;
        position: absolute;
      }
    }
    .displaimer {
      font-size: 13px;
      text-align: center;
      margin-top: 10px;
      color: var(--muted);
    }
  }
}

