@font-face {
  font-family: 'RopaSoftPro';
  src: url('/fonts/RopaSoft/ttf/RopaSoftPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "RopaSoftPro", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
}


.logo {
  font-family: "Passero One", sans-serif;
  font-weight: 400;
  font-style: normal;
}